body{
    background-color: #232323;
}
.body1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat';
    margin-top: 5%;
}

.sign-in-Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(67, 67, 67);
    height: 400px;
    width: 350px;
    border-radius: 10px;
}


.information{
    height: 25px;
    width: 80%;
    text-align: center;
}

.sig-in{
    height: 25px;
    width: 50%;
    border-radius: 5px;
    font-family: 'Montserrat';
}
.sig-in:hover{
    cursor: pointer;
    background-color: #ffd5d5;
}

.informationbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 15px;
    width: 100%;
}

.changeform{
    color: white;
}
.changeform:hover{
    cursor: pointer;
    color: rgb(150, 150, 150);
}
.disconnect{
    color: rgb(255, 255, 255);
}
.disconnect:hover{
    cursor: pointer;
    color: rgb(81, 81, 81);
}

/* #formlogin{
    display: none;
} */
#formCreateAccount{
    display: none;
}

@media (max-width: 400px){
    .sign-in-Box{
        height: 300px;
        width: 260px;
        border-radius: 7px;
    }
    
    
    .information{
        height: 19px;
        width: 80%;
    }
    
    .sig-in{
        height: 19px;
        border-radius: 4px;
    }
    
    .informationbox{
        gap: 10px;
    }
}

/* SECTION BODY 2 */
.body2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.deleteAccountForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(67, 67, 67);
    width: 400px;
    height: 80px;
}

.inputboxs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.information2{
    height: 25px;
    width: 40%;
    text-align: center;
}

.deleteAccountButton{
    height: 25px;
    width: 50%;
    border-radius: 5px;
    font-family: 'Montserrat';
}